<style type="main">
.main {
  max-width: 1000px;
  min-width: 400px;
}
.block{
  float: left;
  width: 25%;
}
.block1 {
  float: right;
}
.*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
.html{
  height: 100%;
}
.body{
  min-height: 100%;
}
